html {
    background-image: linear-gradient(0deg, rgba(0, 110, 255, 0.3), rgba(0, 110, 255, 0.3)), url('img/mc.jpeg');
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    color: white;
    text-align: center;
}

svg {
    display: block;
    margin: 2% 10% 10% 5%;
    padding: 2%;
    border: 3px solid white;
}